header {
    text-align: center;
}
#featured-property {
    text-align: center;
}
nav {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: grey;
    
}
figcaption {
    font-size: small;
}
#featured-properties p {
    width: 800px;
    text-align: center;

}
div {
    float: left;
    text-align: center;
    width: 25%;
    background-color: brown;
}
